/*General Styles*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: 5%;
}


.calculator-section{
    width: 100%;
    text-align: center;
    
}
/*calculator container*/

.calculator-container{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Body calculator*/

.calculator-body {
    background-color: rgb(51, 71, 158);
    border-radius: 15px;
    padding: 3%;
}

/* Screen */
.screen {
    background-color: rgb(80, 224, 61);
    padding: 5%;
}

/*empty*/
.empty {
    padding: 7%;
}

/* Buttons*/
.normal-button{
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.clean-button{
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 157, 44);
}

.clean-button:hover, .normal-button:hover {
    background-color: rgb(0, 0, 0);
    color: oldlace;
}


